.vim/plugged
.vim/plugged/*
.vim/.netrwhist

.config/qtile/__pycache__
.config/qtile/settings/__pycache__
.config/terminator/plugins

.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
