#include "/home/alberto/Documents/Xresources-themes/one-dark.Xresources"

URxvt.buffered:         true
! Appearance
!URxvt.background:       #171717 
urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800
URxvt.foreground:       white
URxvt.cursorColor:      #FF4C29
URxvt.underlineColor:   #D89216
URxvt.font:             xft:JetBrains Mono NL:Regular:pixelsize=15,xft:MesloLGS NF:Regular:pixelsize=15
URxvt.boldFont:         xft:JetBrains Mono NL:Bold:pixelsize=15,xft:MesloLGS NF:Bold:pixelsize=15
URxvt.title:            urxvt
URxvt*scrollstyle:	plain

! Restore Ctrl+Shift+(c|v)
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
 
URxvt.scrollBar:false

! keys for change font size
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

URxvt.resize-font.step: 2

! extensions
urxvt.perl-ext-common: default,resize-font
